 <div class="parallax-container">
    <div class="parallax"><img class="responsive-img" src="<%= image_url('yoga.jpg')%>"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header center-align">Flex 6-4</h2>
      <p class="grey-text text-darken-3 lighten-3 center-align flow-text">
        Van Aikido tot Zumba. <br>
        Krijg met één abonnement toegang tot een geweldig lokaal netwerk van sport- en bewegingsactiviteiten.<br>
        Vanaf €39 per maand. Op ieder moment opzegbaar.
      </p>
         <div class="col s4">
           <p class="right-align flow-text">Kom op de wachtlijst:</p>
         </div>
         <div class="col s4">
         <form>
         <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
        </form>
        </div>
        <div class="col s4">
          <button class="btn waves-effect waves-light" type="submit" name="action" style="margin-top: 20px;">Flex!</button>
        </div>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img class="responsive-img" src="<%= image_url('class.jpg')%>"></div>
  </div>
  <div class="section white">
     <div class="row container">
      <div class="col s4">
        <p class="center-align">icon here</p>
        <p class="center-align flow-text">Lorem</p>
      </div>
      <div class="col s4">
        <p class="center-align">icon here</p>
        <p class="center-align flow-text">ipsum</p>
      </div>
      <div class="col s4">
        <p class="center-align">icon here</p>
        <p class="center-align flow-text">dolorem</p>
        <br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
    </div>
  </div>

 <div class="parallax-container">
    <div class="parallax"><img class="responsive-img" src="<%= image_url('runners.jpg')%>"></div>
  </div>

  <div class="section white">
    <div class="row container">
      <div class="col s3">
        <h5 class="center-align">FAQ #1</h5>
        <p class="center-align flow-text" >Lorem</p>
      </div>
      <div class="col s3">
        <h5 class="center-align">FAQ #2</h5>
        <p class="center-align flow-text">ipsum</p>
      </div>
      <div class="col s3">
        <h5 class="center-align">FAQ #3</h5>
        <p class="center-align flow-text">dolorem</p>
        <br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
      <div class="col s3">
        <h5 class="center-align">FAQ #4</h5>
        <p class="center-align flow-text">kendrick</p>
      </div>
    </div>
  </div>
