<<<<<<< HEAD
<div>get slim get fit get women in a diverse way</div>


<div class="parallax-container">
    <div class="parallax"><img src="http://gumbofitness.com/wp-content/uploads/2014/11/header-photo1.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">MUZUFIT</h2>
    <p class="grey-text text-darken-3 lighten-3">For you, it's just a strange combination of the words anti-nigga and fitness. For use, it changes the world. Ladies and Gentlemen, welcome to the future, welcome to Muzufit, welcoming the diversity in fitness. Making the world a slimmer place.</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="http://2.bp.blogspot.com/-0BraEuUvacU/UuZ_yDYZBuI/AAAAAAAAA00/UOCag_N9edU/s1600/fitness.bmp"></div>
</div>


<script type="text/javascipt">
      $(document).ready(function(){
      $('.parallax').parallax();
      });
</script>
=======
>>>>>>> master
