<h1>Muzufit</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Hola hola, welcome to the cru. Click link below to join in eternity
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
