<h1>Muzufit</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to mzungu. Click below to activate account
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
