 <div class="row">
 
      
	<h1><%= @template.title %> </h1> 
	  <div class="card-panel ">
	<span class = "content"><%= simple_format(@template.content) %> </span>

<%= image_tag @template.picture.url if @template.picture? %>
        </div>
      </div>
    </div>