<% unless current_user == @user %>
	<div id="subscription_form" %>

		<% if Subscription.where(post_id: @cposting.id,
								 subscriber_id: current_user.id).exists? %>
			
			<%= render 'unsubscribe' %>
		<% else %>
			
			<%= render 'subscribe' %>
		<% end %>
	</div>
<% end %>
