 <div class = "container center-align card-panel">
 	<h4> Description </h4>
 	<p class="grey-text darken-3 center-align flow-text">
 		United Nations Security Council Resolution 388, adopted unanimously on April 6, 1976, reaffirmed previous resolutions on the topic, including the conclusion that the situation in Rhodesia constituted a threat to international peace and security. The council decided to expand its sanctions regime to include; <br> 
 		<br>

(a) Any commodities or products exported from Southern Rhodesia after the date of the present resolution in contravention of Security Council resolution 253 (1968) which the know or have reasonable cause to believe to have been so exported;</br>
(b) Any commodities or products which the know or have reasonable cause to believe to be destined or intended for importation into Southern Rhodesia after the date of the present resolution in contravention of resolution 253 (1968);</br>
(c) Commodities, products or other property in Southern Rhodesia, in contravention of resolution 253 (1968);</br>
<br>
The resolution went on to decide that all member states would take measure to ensure that trade names and franchising agreements originating in their territories would not be used to benefit Rhodesia and urged states who were not members of the UN to act in accordance with the provisions of this resolution.

 	</p>
 </div>