<h1> 
<%= current_user.name %>
<%= current_user.company ? "company" : "customer" %>
</h1>

<% if current_user.company %>
<%= render 'upcoming_classes' %>
...

<% else #customer %> 
<%= render 'upcoming_subscriptions' %>
<% end %> 


