<h1>
<%= current_user.name %>
<%= current_user.company ? "company" : "customer" %>
</h1>

<% if current_user.company %>
<%= render 'users/upcoming_classes' %>
...

<% else #customer %>
<%= render 'users/upcoming_subscriptions' %>
<% end %>
