/*
*= require jquery-ui
*= require_self
*= require_tree .
*/

@import "materialize/components/color";
$primary-color: color("red", "red") !default;
@import 'materialize';

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
