/*

*= require_self
*= require_tree .
*/

@import "materialize/components/color";
$primary-color: color("red", "red") !default;
@import 'materialize';

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

//the below is not working, to work it would be necessary to create the sidebarGenerated variable
//in the application.html.erb and then import it to this file via a custom function.
//the alternative would be to add a dynamic class to header, main and footer stating if sidebar is generated or not.
//@if $sidebarGenerated == true  {
//header, main, footer {
//    padding-left: 240px;
//  }

//  @media only screen and (max-width : 992px) {
//    header, main, footer {
//      padding-left: 0;
//    }
//  }
//}
