          <div class="container">
            <div class="row">
              <div class="col l6 s12" style="margin-left:1.5cm">
                <h5 class="white-text">Company?</h5>
                <p class="grey-text text-lighten-4">Are you a company and wish to offer classes? <br>
                Contact us here: <a class="black-text text-lighten-1" href="mailto:someone@example.com?Subject=Hello%20again" target="_top">info@flex6-4.io</a>
                </p>
              </div>
              <div class="col l4 s12  right" style="margin-right:1.5cm">
                <h5 class="white-text">More Questions?</h5>
                <p class="grey-text text-lighten-4">Get in contact with us here: <a class="black-text text-lighten-1" href="mailto:someone@example.com?Subject=Hello%20again" target="_top">questions@flex6-4.io</a></p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container right">
            © 2015 Flex 6-4 | +31 640938553 | Meent 78D 3011JN Rotterdam
            </div>
          </div>
